.registration {

	&__title {

		h1, h3 {
			text-align: center;
			padding: 0.5rem;
		}
	}

	&__ask, &__ask--required {
		text-align: center;
		padding: 1rem 0rem 0rem 0rem;
	}

	&__ask--required {
		&:after {
			content: "*";
			color: red;
		}
	}

	&__input, &__submit {
		text-align: center;
	}

	&__submit {
		margin-top: 2rem;
	}

	&__submit--login {
		margin-top: 4rem;
		text-align: center;
	}

	&__input--addiction {
		width: 90%;
    	margin: 0 auto;
	}

	&__radio {
		width: 90%;
    	margin: 0 auto;

		&--type {
			padding: 1rem;
		}
	}
		
}