/* Copyright 2017 DotControl */@charset "UTF-8";
[class^="col-"] {
  width: 100%;
}

.same-height > * {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.same-height > * > * {
  display: -ms-flexbox;
  display: flex;
  background-color: red;
  width: 100%;
}

.wrap {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
}

.container-fluid {
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

.row {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem;
}

.col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-xs, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-lg-offset-1, .col-lg-offset-2, .col-lg-offset-3, .col-lg-offset-4, .col-lg-offset-5, .col-lg-offset-6, .col-lg-offset-7, .col-lg-offset-8, .col-lg-offset-9, .col-lg-offset-10, .col-lg-offset-11, .col-lg-offset-12, .col-md-offset-1, .col-md-offset-2, .col-md-offset-3, .col-md-offset-4, .col-md-offset-5, .col-md-offset-6, .col-md-offset-7, .col-md-offset-8, .col-md-offset-9, .col-md-offset-10, .col-md-offset-11, .col-md-offset-12, .col-sm-offset-1, .col-sm-offset-2, .col-sm-offset-3, .col-sm-offset-4, .col-sm-offset-5, .col-sm-offset-6, .col-sm-offset-7, .col-sm-offset-8, .col-sm-offset-9, .col-sm-offset-10, .col-sm-offset-11, .col-sm-offset-12, .col-xs-offset-1, .col-xs-offset-2, .col-xs-offset-3, .col-xs-offset-4, .col-xs-offset-5, .col-xs-offset-6, .col-xs-offset-7, .col-xs-offset-8, .col-xs-offset-9, .col-xs-offset-10, .col-xs-offset-11, .col-xs-offset-12 {
  box-sizing: border-box;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding-right: 1rem;
  padding-left: 1rem;
}

.col-lg {
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%;
}

.col-lg-1 {
  -ms-flex-preferred-size: 8.33333%;
  flex-basis: 8.33333%;
  max-width: 8.33333%;
}

.col-lg-2 {
  -ms-flex-preferred-size: 16.66667%;
  flex-basis: 16.66667%;
  max-width: 16.66667%;
}

.col-lg-3 {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%;
}

.col-lg-4 {
  -ms-flex-preferred-size: 33.33333%;
  flex-basis: 33.33333%;
  max-width: 33.33333%;
}

.col-lg-5 {
  -ms-flex-preferred-size: 41.66667%;
  flex-basis: 41.66667%;
  max-width: 41.66667%;
}

.col-lg-6 {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
}

.col-lg-7 {
  -ms-flex-preferred-size: 58.33333%;
  flex-basis: 58.33333%;
  max-width: 58.33333%;
}

.col-lg-8 {
  -ms-flex-preferred-size: 66.66667%;
  flex-basis: 66.66667%;
  max-width: 66.66667%;
}

.col-lg-9 {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%;
}

.col-lg-10 {
  -ms-flex-preferred-size: 83.33333%;
  flex-basis: 83.33333%;
  max-width: 83.33333%;
}

.col-lg-11 {
  -ms-flex-preferred-size: 91.66667%;
  flex-basis: 91.66667%;
  max-width: 91.66667%;
}

.col-lg-12 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

@media screen and (max-width: 62em) {
  .col-md {
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }
  .col-md-1 {
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .col-md-2 {
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .col-md-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .col-md-5 {
    -ms-flex-preferred-size: 41.66667%;
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .col-md-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  .col-md-8 {
    -ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .col-md-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .col-md-11 {
    -ms-flex-preferred-size: 91.66667%;
    flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .col-md-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 48em) {
  .col-sm {
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }
  .col-sm-1 {
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .col-sm-2 {
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .col-sm-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .col-sm-5 {
    -ms-flex-preferred-size: 41.66667%;
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .col-sm-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  .col-sm-8 {
    -ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .col-sm-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .col-sm-11 {
    -ms-flex-preferred-size: 91.66667%;
    flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .col-sm-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 30em) {
  .col-xs {
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }
  .col-xs-1 {
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .col-xs-2 {
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .col-xs-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-xs-4 {
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .col-xs-5 {
    -ms-flex-preferred-size: 41.66667%;
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .col-xs-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-xs-7 {
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  .col-xs-8 {
    -ms-flex-preferred-size: 66.66667%;
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .col-xs-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-xs-10 {
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .col-xs-11 {
    -ms-flex-preferred-size: 91.66667%;
    flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .col-xs-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}

.col-lg-offset-1 {
  margin-left: 8.33333%;
}

.col-lg-offset-2 {
  margin-left: 16.66667%;
}

.col-lg-offset-3 {
  margin-left: 25%;
}

.col-lg-offset-4 {
  margin-left: 33.33333%;
}

.col-lg-offset-5 {
  margin-left: 41.66667%;
}

.col-lg-offset-6 {
  margin-left: 50%;
}

.col-lg-offset-7 {
  margin-left: 58.33333%;
}

.col-lg-offset-8 {
  margin-left: 66.66667%;
}

.col-lg-offset-9 {
  margin-left: 75%;
}

.col-lg-offset-10 {
  margin-left: 83.33333%;
}

.col-lg-offset-11 {
  margin-left: 91.66667%;
}

.col-lg-offset-12 {
  margin-left: 100%;
}

@media screen and (max-width: 62em) {
  .col-md-offset-1 {
    margin-left: 8.33333%;
  }
  .col-md-offset-2 {
    margin-left: 16.66667%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333%;
  }
  .col-md-offset-5 {
    margin-left: 41.66667%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333%;
  }
  .col-md-offset-8 {
    margin-left: 66.66667%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333%;
  }
  .col-md-offset-11 {
    margin-left: 91.66667%;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
}

@media screen and (max-width: 48em) {
  .col-sm-offset-1 {
    margin-left: 8.33333%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66667%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66667%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66667%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66667%;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
}

@media screen and (max-width: 30em) {
  .col-xs-offset-1 {
    margin-left: 8.33333%;
  }
  .col-xs-offset-2 {
    margin-left: 16.66667%;
  }
  .col-xs-offset-3 {
    margin-left: 25%;
  }
  .col-xs-offset-4 {
    margin-left: 33.33333%;
  }
  .col-xs-offset-5 {
    margin-left: 41.66667%;
  }
  .col-xs-offset-6 {
    margin-left: 50%;
  }
  .col-xs-offset-7 {
    margin-left: 58.33333%;
  }
  .col-xs-offset-8 {
    margin-left: 66.66667%;
  }
  .col-xs-offset-9 {
    margin-left: 75%;
  }
  .col-xs-offset-10 {
    margin-left: 83.33333%;
  }
  .col-xs-offset-11 {
    margin-left: 91.66667%;
  }
  .col-xs-offset-12 {
    margin-left: 100%;
  }
}

.start-lg {
  -ms-flex-pack: start;
  justify-content: flex-start;
}

@media screen and (max-width: 62em) {
  .start-md {
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 48em) {
  .start-sm {
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 30em) {
  .start-xs {
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

.center-lg {
  -ms-flex-pack: center;
  justify-content: center;
}

@media screen and (max-width: 62em) {
  .center-md {
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media screen and (max-width: 48em) {
  .center-sm {
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media screen and (max-width: 30em) {
  .center-xs {
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.end-lg {
  -ms-flex-pack: end;
  justify-content: flex-end;
}

@media screen and (max-width: 62em) {
  .end-md {
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 48em) {
  .end-sm {
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 30em) {
  .end-xs {
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}

.top-lg {
  -ms-flex-align: start;
  align-items: flex-start;
}

@media screen and (max-width: 62em) {
  .top-md {
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

@media screen and (max-width: 48em) {
  .top-sm {
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

@media screen and (max-width: 30em) {
  .top-xs {
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

.middle-lg {
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 62em) {
  .middle-md {
    -ms-flex-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 48em) {
  .middle-sm {
    -ms-flex-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 30em) {
  .middle-xs {
    -ms-flex-align: center;
    align-items: center;
  }
}

.bottom-lg {
  -ms-flex-align: end;
  align-items: flex-end;
}

@media screen and (max-width: 62em) {
  .bottom-md {
    -ms-flex-align: end;
    align-items: flex-end;
  }
}

@media screen and (max-width: 48em) {
  .bottom-sm {
    -ms-flex-align: end;
    align-items: flex-end;
  }
}

@media screen and (max-width: 30em) {
  .bottom-xs {
    -ms-flex-align: end;
    align-items: flex-end;
  }
}

.around-lg {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

@media screen and (max-width: 62em) {
  .around-md {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}

@media screen and (max-width: 48em) {
  .around-sm {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}

@media screen and (max-width: 30em) {
  .around-xs {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}

.between-lg {
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 62em) {
  .between-md {
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@media screen and (max-width: 48em) {
  .between-sm {
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@media screen and (max-width: 30em) {
  .between-xs {
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

.first-lg {
  -ms-flex-order: -1;
  order: -1;
}

@media screen and (max-width: 62em) {
  .first-md {
    -ms-flex-order: -1;
    order: -1;
  }
}

@media screen and (max-width: 48em) {
  .first-sm {
    -ms-flex-order: -1;
    order: -1;
  }
}

@media screen and (max-width: 30em) {
  .first-xs {
    -ms-flex-order: -1;
    order: -1;
  }
}

.last-lg {
  -ms-flex-order: 1;
  order: 1;
}

@media screen and (max-width: 62em) {
  .last-md {
    -ms-flex-order: 1;
    order: 1;
  }
}

@media screen and (max-width: 48em) {
  .last-sm {
    -ms-flex-order: 1;
    order: 1;
  }
}

@media screen and (max-width: 30em) {
  .last-xs {
    -ms-flex-order: 1;
    order: 1;
  }
}

.reverse-lg {
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

@media screen and (max-width: 62em) {
  .reverse-md {
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
}

@media screen and (max-width: 48em) {
  .reverse-sm {
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
}

@media screen and (max-width: 30em) {
  .reverse-xs {
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
}

*,
*:after,
*:before {
  box-sizing: content-box;
}

*:focus {
  outline: none;
}

*::-moz-selection {
  background: inherit;
  color: #fff;
}

*::selection {
  background: inherit;
  color: #fff;
}

html {
  font-size: 62.5%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",  Helvetica, Arial, "Lucida Grande", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  text-rendering: auto;
  -webkit-text-size-adjust: 100%;
  position: relative;
  height: 100%;
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: #D8EFF5;
}

#wrapper *,
#wrapper *:after,
#wrapper *:before {
  box-sizing: border-box;
}

h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1.3em;
}

.input {
  width: 90%;
  padding: 1.2rem;
  margin: 1rem 0rem;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=submit] {
  background: #40e0d0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  color: #fff;
  padding: 1.2rem;
  cursor: pointer;
  height: 2rem;
  width: 20%;
  margin-bottom: 4rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.header .relieve__logo {
  text-align: center;
}

.header .relieve__logo .relieve__imglogo {
  width: 50%;
  margin: 4rem 0rem;
}

.registration__title h1, .registration__title h3 {
  text-align: center;
  padding: 0.5rem;
}

.registration__ask, .registration__ask--required {
  text-align: center;
  padding: 1rem 0rem 0rem 0rem;
}

.registration__ask--required:after {
  content: "*";
  color: red;
}

.registration__input, .registration__submit {
  text-align: center;
}

.registration__submit {
  margin-top: 2rem;
}

.registration__submit--login {
  margin-top: 4rem;
  text-align: center;
}

.registration__input--addiction {
  width: 90%;
  margin: 0 auto;
}

.registration__radio {
  width: 90%;
  margin: 0 auto;
}

.registration__radio--type {
  padding: 1rem;
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 13.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 40px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}

.option-input:hover {
  background: #9faab7;
}

.option-input:checked {
  background: #40e0d0;
}

.option-input:checked::before {
  height: 40px;
  width: 40px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 26.66667px;
  text-align: center;
  line-height: 40px;
}

.option-input:checked::after {
  animation: click-wave 0.65s;
  background: #40e0d0;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}

.option-input.radio {
  border-radius: 50%;
}

.option-input.radio::after {
  border-radius: 50%;
}

body .label {
  display: block;
  line-height: 40px;
}

.index__title h1, .index__title h2, .index__title h3 {
  text-align: center;
  padding: 0.5rem;
}

a.index__button {
  text-align: center;
}
